{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Immutable X API",
    "contact": {
      "name": "Immutable API Support",
      "email": "support@immutable.com"
    },
    "version": "3.0"
  },
  "host": "api.sandbox.x.immutable.com",
  "basePath": "/",
  "paths": {
    "/v1/assets": {
      "get": {
        "description": "Get a list of assets",
        "produces": [
          "application/json"
        ],
        "tags": [
          "assets"
        ],
        "summary": "Get a list of assets",
        "operationId": "listAssets",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "updated_at",
              "name"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who owns these assets",
            "name": "user",
            "in": "query"
          },
          {
            "enum": [
              "eth",
              "imx",
              "preparing_withdrawal",
              "withdrawable",
              "burned"
            ],
            "type": "string",
            "description": "Status of these assets",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Name of the asset to search",
            "name": "name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "URL JSON-encoded metadata filters for these assets. Javascript example: encodeURI(JSON.stringify({'proto':['1147'],'quality':['Meteorite']}))",
            "name": "metadata",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Set flag to true to fetch an array of sell order details with accepted status associated with the asset",
            "name": "sell_orders",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Set flag to true to fetch an array of buy order details  with accepted status associated with the asset",
            "name": "buy_orders",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Set flag to include fees associated with the asset",
            "name": "include_fees",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "collection",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for when these assets were last updated, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "updated_min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for when these assets were last updated, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "updated_max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee percentages that are to be paired with auxiliary_fee_recipients",
            "name": "auxiliary_fee_percentages",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee recipients that are to be paired with auxiliary_fee_percentages",
            "name": "auxiliary_fee_recipients",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAssetsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/assets/{token_address}/{token_id}": {
      "get": {
        "description": "Get details of an asset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "assets"
        ],
        "summary": "Get details of an asset",
        "operationId": "getAsset",
        "parameters": [
          {
            "type": "string",
            "description": "Address of the ERC721 contract",
            "name": "token_address",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Either ERC721 token ID or internal IMX ID",
            "name": "token_id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Set flag to include fees associated with the asset",
            "name": "include_fees",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections": {
      "get": {
        "description": "Get a list of collections",
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get a list of collections",
        "operationId": "listCollections",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "name",
              "address",
              "project_id",
              "created_at",
              "updated_at"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "List of collections not to be included, separated by commas",
            "name": "blacklist",
            "in": "query"
          },
          {
            "type": "string",
            "description": "List of collections to be included, separated by commas",
            "name": "whitelist",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search in collection name and description",
            "name": "keyword",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCollectionsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections/{address}": {
      "get": {
        "description": "Get details of a collection at the given address",
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get details of a collection at the given address",
        "operationId": "getCollection",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections/{address}/filters": {
      "get": {
        "description": "Get a list of collection filters",
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get a list of collection filters",
        "operationId": "listCollectionFilters",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Next page token",
            "name": "next_page_token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionFilter"
            }
          }
        }
      }
    },
    "/v1/collections/{address}/metadata-schema": {
      "get": {
        "description": "Get collection metadata schema",
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata"
        ],
        "summary": "Get collection metadata schema",
        "operationId": "getMetadataSchema",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetadataSchemaProperty"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/deposits": {
      "get": {
        "description": "Get a list of deposits",
        "produces": [
          "application/json"
        ],
        "tags": [
          "deposits"
        ],
        "summary": "Get a list of deposits",
        "operationId": "listDeposits",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this deposit",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of this deposit",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the deposited asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the minted asset",
            "name": "asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the deposited asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the deposited asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the deposited asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the deposited asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the deposited asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDepositsResponse"
            }
          }
        }
      }
    },
    "/v1/deposits/{id}": {
      "get": {
        "description": "Get details of a deposit with the given ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "deposits"
        ],
        "summary": "Get details of a deposit with the given ID",
        "operationId": "getDeposit",
        "parameters": [
          {
            "type": "string",
            "description": "Deposit ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Deposit"
            }
          }
        }
      }
    },
    "/v1/mintable-token/{token_address}/{token_id}": {
      "get": {
        "description": "Get details of a mintable token with the given token address and token ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "mints"
        ],
        "summary": "Get details of a mintable token with the given token address and token ID",
        "operationId": "getMintableTokenDetailsByClientTokenId",
        "parameters": [
          {
            "type": "string",
            "description": "Address of the ERC721 contract",
            "name": "token_address",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "ERC721 token ID",
            "name": "token_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MintableTokenDetails"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/mints": {
      "get": {
        "description": "Get information about token mints. If you want to get information about tokens that have already been minted, use the listAssets endpoint.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "mints"
        ],
        "summary": "Get a list of mints",
        "operationId": "listMints",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "transaction_id",
              "token_id",
              "created_at",
              "updated_at"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this mint",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of this mint",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this mint, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this mint, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the minted asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "[DEPRECATED] Internal IMX ID of the minted asset",
            "name": "asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token Name of the minted asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the minted asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the minted asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the minted asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the minted asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListMintsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/mints/{id}": {
      "get": {
        "description": "Get details of a mint with the given ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "mints"
        ],
        "summary": "Get details of a mint with the given ID",
        "operationId": "getMint",
        "parameters": [
          {
            "type": "string",
            "description": "Mint ID. This is the transaction_id returned from listMints",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mint"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "description": "Get a list of orders",
        "produces": [
          "application/json"
        ],
        "tags": [
          "orders"
        ],
        "summary": "Get a list of orders",
        "operationId": "listOrders",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "created_at",
              "expired_at",
              "sell_quantity",
              "buy_quantity",
              "buy_quantity_with_fees",
              "updated_at"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this order",
            "name": "user",
            "in": "query"
          },
          {
            "enum": [
              "active",
              "filled",
              "cancelled",
              "expired",
              "inactive"
            ],
            "type": "string",
            "description": "Status of this order",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum created at timestamp for this order, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum created at timestamp for this order, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum updated at timestamp for this order, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "updated_min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum updated at timestamp for this order, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "updated_max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the asset this order buys",
            "name": "buy_token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the asset this order buys",
            "name": "buy_token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the asset this order buys",
            "name": "buy_asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the asset this order buys",
            "name": "buy_token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the asset this order buys",
            "name": "buy_token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the asset this order buys",
            "name": "buy_min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the asset this order buys",
            "name": "buy_max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the asset this order buys",
            "name": "buy_metadata",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the asset this order sells",
            "name": "sell_token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the asset this order sells",
            "name": "sell_token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the asset this order sells",
            "name": "sell_asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the asset this order sells",
            "name": "sell_token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the asset this order sells",
            "name": "sell_token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the asset this order sells",
            "name": "sell_min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the asset this order sells",
            "name": "sell_max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the asset this order sells",
            "name": "sell_metadata",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee percentages that are to be paired with auxiliary_fee_recipients",
            "name": "auxiliary_fee_percentages",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee recipients that are to be paired with auxiliary_fee_percentages",
            "name": "auxiliary_fee_recipients",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Set flag to true to include fee object for orders",
            "name": "include_fees",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListOrdersResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/orders/{id}": {
      "get": {
        "description": "Get details of an order with the given ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "orders"
        ],
        "summary": "Get details of an order with the given ID",
        "operationId": "getOrder",
        "parameters": [
          {
            "type": "string",
            "description": "Order ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Set flag to true to include fee body for the order",
            "name": "include_fees",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee percentages that are to be paired with auxiliary_fee_recipients",
            "name": "auxiliary_fee_percentages",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee recipients that are to be paired with auxiliary_fee_percentages",
            "name": "auxiliary_fee_recipients",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/tokens": {
      "get": {
        "description": "Get a list of tokens",
        "produces": [
          "application/json"
        ],
        "tags": [
          "tokens"
        ],
        "summary": "Get a list of tokens",
        "operationId": "listTokens",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "contract_address",
              "name",
              "symbol"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Contract address of the token",
            "name": "address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token symbols for the token, e.g. ?symbols=IMX,ETH",
            "name": "symbols",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTokensResponse"
            }
          }
        }
      }
    },
    "/v1/tokens/{address}": {
      "get": {
        "description": "Get details of a token",
        "produces": [
          "application/json"
        ],
        "tags": [
          "tokens"
        ],
        "summary": "Get details of a token",
        "operationId": "getToken",
        "parameters": [
          {
            "type": "string",
            "description": "Token Contract Address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TokenDetails"
            }
          }
        }
      }
    },
    "/v1/trades": {
      "get": {
        "description": "Get a list of trades",
        "produces": [
          "application/json"
        ],
        "tags": [
          "trades"
        ],
        "summary": "Get a list of trades",
        "operationId": "listTrades",
        "parameters": [
          {
            "type": "string",
            "description": "Party A's (buy order) token type of currency used to buy",
            "name": "party_a_token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Party A's (buy order) token address of currency used to buy",
            "name": "party_a_token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Party B's (sell order) token type of NFT sold - always ERC721",
            "name": "party_b_token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Party B's (sell order) collection address of NFT sold",
            "name": "party_b_token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Party B's (sell order) token id of NFT sold",
            "name": "party_b_token_id",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this trade, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this trade, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTradesResponse"
            }
          }
        }
      }
    },
    "/v1/trades/{id}": {
      "get": {
        "description": "Get details of a trade with the given ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "trades"
        ],
        "summary": "Get details of a trade with the given ID",
        "operationId": "getTrade",
        "parameters": [
          {
            "type": "string",
            "description": "Trade ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Trade"
            }
          }
        }
      }
    },
    "/v1/transfers": {
      "get": {
        "description": "Get a list of transfers",
        "produces": [
          "application/json"
        ],
        "tags": [
          "transfers"
        ],
        "summary": "Get a list of transfers",
        "operationId": "listTransfers",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "transaction_id",
              "updated_at",
              "created_at",
              "sender_ether_key",
              "receiver_ether_key"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this transfer",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who received this transfer",
            "name": "receiver",
            "in": "query"
          },
          {
            "enum": [
              "success",
              "failure"
            ],
            "type": "string",
            "description": "Status of this transfer",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this transfer, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this transfer, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the transferred asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the minted asset",
            "name": "asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the transferred asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the transferred asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the transferred asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the transferred asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the transferred asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTransfersResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/transfers/{id}": {
      "get": {
        "description": "Get details of a transfer with the given ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "transfers"
        ],
        "summary": "Get details of a transfer with the given ID",
        "operationId": "getTransfer",
        "parameters": [
          {
            "type": "string",
            "description": "Transfer ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Transfer"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/users/{user}": {
      "get": {
        "description": "Get stark keys for a registered user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get stark keys for a registered user",
        "operationId": "getUsers",
        "parameters": [
          {
            "type": "string",
            "description": "User",
            "name": "user",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUsersApiResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/withdrawals": {
      "get": {
        "description": "Get a list of withdrawals",
        "produces": [
          "application/json"
        ],
        "tags": [
          "withdrawals"
        ],
        "summary": "Get a list of withdrawals",
        "operationId": "listWithdrawals",
        "parameters": [
          {
            "type": "boolean",
            "description": "Withdrawal has been transferred to user's Layer 1 wallet",
            "name": "withdrawn_to_wallet",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of the on-chain batch confirmation for this withdrawal",
            "name": "rollup_status",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this withdrawal",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of this withdrawal",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the withdrawn asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the minted asset",
            "name": "asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the withdrawn asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the withdrawn asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the withdrawn asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the withdrawn asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the withdrawn asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListWithdrawalsResponse"
            }
          }
        }
      }
    },
    "/v1/withdrawals/{id}": {
      "get": {
        "description": "Gets details of withdrawal with the given ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "withdrawals"
        ],
        "summary": "Gets details of withdrawal with the given ID",
        "operationId": "getWithdrawal",
        "parameters": [
          {
            "type": "string",
            "description": "Withdrawal ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Withdrawal"
            }
          }
        }
      }
    },
    "/v2/balances/{owner}": {
      "get": {
        "description": "Get a list of balances for given user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "balances"
        ],
        "summary": "Get a list of balances for given user",
        "operationId": "listBalances",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum wallet address for user",
            "name": "owner",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListBalancesResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v2/balances/{owner}/{address}": {
      "get": {
        "description": "Fetches the token balances of the user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "balances"
        ],
        "summary": "Fetches the token balances of the user",
        "operationId": "getBalance",
        "parameters": [
          {
            "type": "string",
            "description": "Address of the owner/user",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Token address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          }
        }
      }
    },
    "/v2/nft/primary": {
      "get": {
        "description": "Returns a list of NFT primary sales transactions",
        "produces": [
          "application/json"
        ],
        "tags": [
          "nft-checkout-primary"
        ],
        "summary": "Get a list of NFT primary sales transactions",
        "operationId": "getNftPrimaryTransactions",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "transaction_id",
              "status",
              "amount",
              "mint_id"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Transaction id",
            "name": "transaction_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Contract address of the asset",
            "name": "contract_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the seller",
            "name": "seller_wallet_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who wants to create transaction",
            "name": "user_wallet_address",
            "in": "query"
          },
          {
            "enum": [
              "created",
              "waitingPayment",
              "pending",
              "completed",
              "failed"
            ],
            "type": "string",
            "description": "Transaction status",
            "name": "status",
            "in": "query"
          },
          {
            "enum": [
              "moonpay"
            ],
            "type": "string",
            "description": "Checkout provider name",
            "name": "provider",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minting transaction ID - see mintTokens response",
            "name": "mint_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/nftprimarytransaction.ListTransactionsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      }
    },
    "/v2/nft/primary/currencies": {
      "get": {
        "description": "Returns a list of supported currencies and their limits",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "nft-checkout-primary"
        ],
        "summary": "Get currencies with limits",
        "operationId": "getCurrenciesNFTCheckoutPrimary",
        "parameters": [
          {
            "enum": [
              "moonpay"
            ],
            "type": "string",
            "description": "Provider name",
            "name": "provider",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Flag if limits should be included in the response or not",
            "name": "include_limits",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrencyWithLimits"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      }
    },
    "/v2/nft/primary/{transaction_id}": {
      "get": {
        "description": "given a transaction id, returns the corresponding transaction representing a mint executed from a card payment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "nft-checkout-primary"
        ],
        "summary": "Get NFT primary sale transaction by id",
        "operationId": "getNftPrimaryTransaction",
        "parameters": [
          {
            "type": "string",
            "description": "Transaction id",
            "name": "transaction_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/nftprimarytransaction.GetResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      }
    },
    "/v3/exchanges": {
      "get": {
        "description": "Returns a list of exchanges based on the request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "exchanges"
        ],
        "summary": "Returns a list of exchanges based on the request",
        "operationId": "getExchanges",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "id",
              "status",
              "exchange",
              "amount",
              "transfer_id"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Direction to sort",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Transaction ID",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who created transaction",
            "name": "wallet_address",
            "in": "query"
          },
          {
            "enum": [
              "created",
              "pending",
              "completed",
              "failed",
              "waitingPayment",
              "timedOut"
            ],
            "type": "string",
            "description": "Transaction status",
            "name": "status",
            "in": "query"
          },
          {
            "enum": [
              "moonpay",
              "layerswap"
            ],
            "type": "string",
            "description": "Provider name",
            "name": "provider",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Transfer ID",
            "name": "transfer_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTransactionsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      }
    },
    "/v3/exchanges/{id}": {
      "get": {
        "description": "Get an exchange by ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "exchanges"
        ],
        "summary": "Get an exchange by ID",
        "operationId": "getExchange",
        "parameters": [
          {
            "type": "string",
            "description": "Exchange ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Exchange"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "APIError": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "The error code",
          "type": "string"
        },
        "details": {
          "description": "The error details",
          "type": "string"
        },
        "message": {
          "description": "The error message",
          "type": "string"
        }
      }
    },
    "Asset": {
      "type": "object",
      "required": [
        "collection",
        "created_at",
        "description",
        "image_url",
        "metadata",
        "name",
        "status",
        "token_address",
        "token_id",
        "updated_at",
        "uri",
        "user"
      ],
      "properties": {
        "collection": {
          "description": "Information about the collection to which this asset belongs",
          "$ref": "#/definitions/CollectionDetails"
        },
        "created_at": {
          "description": "Timestamp of when the asset was created",
          "type": "string",
          "x-nullable": true
        },
        "description": {
          "description": "Description of this asset",
          "type": "string",
          "x-nullable": true
        },
        "fees": {
          "description": "Royalties to pay on this asset operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fee"
          }
        },
        "id": {
          "description": "[DEPRECATED] Internal Immutable X Token ID",
          "type": "string"
        },
        "image_url": {
          "description": "URL of the image which should be used for this asset",
          "type": "string",
          "x-nullable": true
        },
        "metadata": {
          "description": "Metadata of this asset",
          "type": "object",
          "x-nullable": true
        },
        "name": {
          "description": "Name of this asset",
          "type": "string",
          "x-nullable": true
        },
        "orders": {
          "description": "[DEPRECATED] Open orders for this asset will always return empty. Use GET /orders",
          "$ref": "#/definitions/OrderDetails"
        },
        "status": {
          "description": "Status of this asset (where it is in the system)",
          "type": "string"
        },
        "token_address": {
          "description": "Address of the ERC721 contract",
          "type": "string"
        },
        "token_id": {
          "description": "ERC721 Token ID of this asset",
          "type": "string"
        },
        "updated_at": {
          "description": "Timestamp of when the asset was updated",
          "type": "string",
          "x-nullable": true
        },
        "uri": {
          "description": "URI to access this asset externally to Immutable X",
          "type": "string",
          "x-nullable": true
        },
        "user": {
          "description": "Ethereum address of the user who owns this asset",
          "type": "string"
        }
      }
    },
    "AssetProperties": {
      "type": "object",
      "properties": {
        "collection": {
          "description": "Details of this asset's collection",
          "$ref": "#/definitions/CollectionDetails"
        },
        "image_url": {
          "description": "Image URL of this asset",
          "type": "string"
        },
        "name": {
          "description": "Name of this asset",
          "type": "string"
        }
      }
    },
    "AssetWithOrders": {
      "type": "object",
      "required": [
        "collection",
        "created_at",
        "description",
        "image_url",
        "metadata",
        "name",
        "status",
        "token_address",
        "token_id",
        "updated_at",
        "uri",
        "user"
      ],
      "properties": {
        "collection": {
          "description": "Information about the collection to which this asset belongs",
          "$ref": "#/definitions/CollectionDetails"
        },
        "created_at": {
          "description": "Timestamp of when the asset was created",
          "type": "string",
          "x-nullable": true
        },
        "description": {
          "description": "Description of this asset",
          "type": "string",
          "x-nullable": true
        },
        "fees": {
          "description": "Royalties to pay on this asset operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fee"
          }
        },
        "id": {
          "description": "[DEPRECATED] Internal Immutable X Token ID",
          "type": "string"
        },
        "image_url": {
          "description": "URL of the image which should be used for this asset",
          "type": "string",
          "x-nullable": true
        },
        "metadata": {
          "description": "Metadata of this asset",
          "type": "object",
          "x-nullable": true
        },
        "name": {
          "description": "Name of this asset",
          "type": "string",
          "x-nullable": true
        },
        "orders": {
          "description": "Open orders for this asset",
          "$ref": "#/definitions/OrderDetails"
        },
        "status": {
          "description": "Status of this asset (where it is in the system)",
          "type": "string"
        },
        "token_address": {
          "description": "Address of the ERC721 contract",
          "type": "string"
        },
        "token_id": {
          "description": "ERC721 Token ID of this asset",
          "type": "string"
        },
        "updated_at": {
          "description": "Timestamp of when the asset was updated",
          "type": "string",
          "x-nullable": true
        },
        "uri": {
          "description": "URI to access this asset externally to Immutable X",
          "type": "string",
          "x-nullable": true
        },
        "user": {
          "description": "Ethereum address of the user who owns this asset",
          "type": "string"
        }
      }
    },
    "Balance": {
      "type": "object",
      "required": [
        "balance",
        "preparing_withdrawal",
        "symbol",
        "token_address",
        "withdrawable"
      ],
      "properties": {
        "balance": {
          "description": "Amount which is currently inside the exchange",
          "type": "string"
        },
        "preparing_withdrawal": {
          "description": "Amount which is currently preparing withdrawal from the exchange",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol of the token (e.g. ETH, IMX)",
          "type": "string"
        },
        "token_address": {
          "description": "Address of the contract that represents this ERC20 token or empty for ETH",
          "type": "string"
        },
        "withdrawable": {
          "description": "Amount which is currently withdrawable from the exchange",
          "type": "string"
        }
      }
    },
    "Collection": {
      "type": "object",
      "required": [
        "address",
        "collection_image_url",
        "created_at",
        "description",
        "icon_url",
        "metadata_api_url",
        "name",
        "project_id",
        "project_owner_address",
        "updated_at"
      ],
      "properties": {
        "address": {
          "description": "Ethereum address of the ERC721 contract",
          "type": "string"
        },
        "collection_image_url": {
          "description": "URL of the tile image for this collection",
          "type": "string",
          "x-nullable": true
        },
        "created_at": {
          "description": "Timestamp of when the collection was created",
          "type": "string",
          "x-nullable": true
        },
        "description": {
          "description": "Description of the collection",
          "type": "string",
          "x-nullable": true
        },
        "icon_url": {
          "description": "URL of the icon for this collection",
          "type": "string",
          "x-nullable": true
        },
        "metadata_api_url": {
          "description": "URL of the metadata for this collection",
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "description": "Name of the collection",
          "type": "string"
        },
        "project_id": {
          "description": "The collection's project ID",
          "type": "integer"
        },
        "project_owner_address": {
          "description": "Project owner address",
          "type": "string"
        },
        "updated_at": {
          "description": "Timestamp of when the collection was updated",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "CollectionDetails": {
      "type": "object",
      "required": [
        "icon_url",
        "name"
      ],
      "properties": {
        "icon_url": {
          "description": "URL of the icon of the collection",
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "description": "Name of the collection",
          "type": "string"
        }
      }
    },
    "CollectionFilter": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of this property",
          "type": "string"
        },
        "range": {
          "description": "Range of values for this property",
          "$ref": "#/definitions/Range"
        },
        "type": {
          "description": "Type of this filter",
          "type": "string"
        },
        "value": {
          "description": "List of possible values for this property",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CurrencyWithLimits": {
      "type": "object",
      "properties": {
        "currency_code": {
          "description": "Provider currency code",
          "type": "string",
          "example": "eth_immutable"
        },
        "limits": {
          "description": "Currency limits will be null by default",
          "$ref": "#/definitions/aggregate.Limit"
        },
        "provider": {
          "description": "Provider name (e.g. moonpay)",
          "type": "string",
          "example": "moonpay"
        },
        "symbol": {
          "description": "Currency Symbol",
          "type": "string",
          "example": "ETH"
        }
      }
    },
    "Deposit": {
      "type": "object",
      "required": [
        "status",
        "timestamp",
        "token",
        "transaction_id",
        "user"
      ],
      "properties": {
        "status": {
          "description": "Status of this deposit in Immutable X",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp of the deposit",
          "type": "string"
        },
        "token": {
          "description": "Details of the asset being deposited",
          "$ref": "#/definitions/Token"
        },
        "transaction_id": {
          "description": "Sequential ID of this transaction within Immutable X",
          "type": "integer"
        },
        "user": {
          "description": "Ethereum address of the user making this deposit",
          "type": "string"
        }
      }
    },
    "Exchange": {
      "type": "object",
      "properties": {
        "created_at": {
          "description": "Time this transaction was created",
          "type": "string"
        },
        "data": {
          "description": "Additional transaction data",
          "$ref": "#/definitions/OptionalExchangeData"
        },
        "id": {
          "description": "Transaction ID",
          "type": "integer"
        },
        "provider": {
          "description": "Provider name",
          "type": "string",
          "example": "moonpay"
        },
        "status": {
          "description": "Transaction status",
          "type": "string",
          "example": "created, pending, completed, failed, waitingPayment, timedOut"
        },
        "type": {
          "description": "Transaction type",
          "type": "string",
          "example": "onramp"
        },
        "updated_at": {
          "description": "Time this transaction was updates",
          "type": "string"
        },
        "wallet_address": {
          "description": "Ethereum address of the user who created transaction",
          "type": "string"
        }
      }
    },
    "Fee": {
      "type": "object",
      "required": [
        "address",
        "percentage",
        "type"
      ],
      "properties": {
        "address": {
          "description": "Wallet address",
          "type": "string"
        },
        "percentage": {
          "description": "The percentage of fee",
          "type": "number",
          "maximum": 100
        },
        "type": {
          "description": "Type of fee. Examples: `royalty`, `maker`, `taker` or `protocol`",
          "type": "string"
        }
      }
    },
    "FeeData": {
      "type": "object",
      "properties": {
        "contract_address": {
          "description": "Address of ERC721/ERC20 contract",
          "type": "string"
        },
        "decimals": {
          "description": "Number of decimals supported by this asset",
          "type": "integer"
        }
      }
    },
    "FeeEntry": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "fee_percentage": {
          "type": "number"
        }
      }
    },
    "FeeInfo": {
      "type": "object",
      "required": [
        "asset_id",
        "fee_limit",
        "source_vault_id"
      ],
      "properties": {
        "asset_id": {
          "description": "ID of the asset these fees relate to",
          "type": "string"
        },
        "fee_limit": {
          "description": "Fee limit",
          "type": "string"
        },
        "source_vault_id": {
          "description": "ID of vault the asset belong to",
          "type": "integer"
        }
      }
    },
    "FeeToken": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Fee token data details",
          "$ref": "#/definitions/FeeData"
        },
        "type": {
          "description": "Fee token type. One of ETH/ERC20",
          "type": "string",
          "enum": [
            "ETH",
            "ERC20"
          ]
        }
      }
    },
    "GetTransactionsResponse": {
      "type": "object",
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Transactions matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Exchange"
          }
        }
      }
    },
    "GetUsersApiResponse": {
      "type": "object",
      "required": [
        "accounts"
      ],
      "properties": {
        "accounts": {
          "description": "Accounts",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListAssetsResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Assets matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetWithOrders"
          }
        }
      }
    },
    "ListBalancesResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Dictionary of tokens",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Balance"
          }
        }
      }
    },
    "ListCollectionsResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Collections matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Collection"
          }
        }
      }
    },
    "ListDepositsResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Deposits matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Deposit"
          }
        }
      }
    },
    "ListMintsResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Mints matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Mint"
          }
        }
      }
    },
    "ListOrdersResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Orders matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order"
          }
        }
      }
    },
    "ListTokensResponse": {
      "type": "object",
      "required": [
        "cursor",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "result": {
          "description": "Tokens matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TokenDetails"
          }
        }
      }
    },
    "ListTradesResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Trades matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Trade"
          }
        }
      }
    },
    "ListTransfersResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Transfers matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Transfer"
          }
        }
      }
    },
    "ListWithdrawalsResponse": {
      "type": "object",
      "required": [
        "cursor",
        "remaining",
        "result"
      ],
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Withdrawals matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Withdrawal"
          }
        }
      }
    },
    "MetadataSchemaProperty": {
      "type": "object",
      "required": [
        "filterable",
        "name",
        "type"
      ],
      "properties": {
        "filterable": {
          "description": "Sets the metadata as filterable",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the metadata key",
          "type": "string"
        },
        "type": {
          "description": "Type of the metadata. Values: \"enum\", \"text\", \"boolean\", \"continuous\", \"discrete\" | Default: \"text\".\nSrc: https://docs.x.immutable.com/docs/asset-metadata#property-type-mapping",
          "type": "string"
        }
      }
    },
    "MetadataSchemaRequest": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "filterable": {
          "description": "Sets the metadata as filterable",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the metadata key",
          "type": "string"
        },
        "type": {
          "description": "Type of the metadata. Values: \"enum\", \"text\", \"boolean\", \"continuous\", \"discrete\" | Default: \"text\". Src: https://docs.x.immutable.com/docs/asset-metadata#property-type-mapping",
          "type": "string",
          "enum": [
            "enum",
            "text",
            "boolean",
            "continuous",
            "discrete"
          ]
        }
      }
    },
    "Mint": {
      "type": "object",
      "required": [
        "status",
        "timestamp",
        "token",
        "transaction_id",
        "user"
      ],
      "properties": {
        "fees": {
          "description": "Fee details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fee"
          }
        },
        "status": {
          "description": "Status of this mint",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp this mint was initiated",
          "type": "string"
        },
        "token": {
          "description": "Details of the asset which has been minted",
          "$ref": "#/definitions/Token"
        },
        "transaction_id": {
          "description": "Sequential ID of transaction in Immutable X",
          "type": "integer"
        },
        "user": {
          "description": "Ethereum address of the user to whom the asset has been minted",
          "type": "string"
        }
      }
    },
    "MintFee": {
      "type": "object",
      "required": [
        "percentage",
        "recipient"
      ],
      "properties": {
        "percentage": {
          "description": "Fee percentage",
          "type": "number",
          "maximum": 100
        },
        "recipient": {
          "description": "Recipient wallet address",
          "type": "string"
        }
      }
    },
    "MintableTokenDetails": {
      "type": "object",
      "required": [
        "blueprint",
        "client_token_id",
        "token_id"
      ],
      "properties": {
        "blueprint": {
          "description": "Blueprint of this token",
          "type": "string"
        },
        "client_token_id": {
          "description": "ID provided by the client for this token",
          "type": "string"
        },
        "token_id": {
          "description": "IMX Id of this token",
          "type": "string"
        }
      }
    },
    "OptionalExchangeData": {
      "type": "object",
      "properties": {
        "external_id": {
          "description": "Provider transaction ID",
          "type": "string"
        },
        "fees_amount": {
          "description": "Fees amount",
          "type": "number"
        },
        "from_amount": {
          "description": "Amount that was exchanged from",
          "type": "number"
        },
        "from_currency": {
          "description": "Currency that was exchanged from",
          "type": "string"
        },
        "provider_wallet_address": {
          "description": "Provider wallet address that was used for transferring crypto",
          "type": "string"
        },
        "to_amount": {
          "description": "Amount that was exchanged to",
          "type": "number"
        },
        "to_currency": {
          "description": "Currency that was exchanged to",
          "type": "string"
        },
        "transfer_id": {
          "description": "Transfer ID",
          "type": "string"
        }
      }
    },
    "Order": {
      "type": "object",
      "required": [
        "amount_sold",
        "buy",
        "expiration_timestamp",
        "order_id",
        "sell",
        "status",
        "timestamp",
        "updated_timestamp",
        "user"
      ],
      "properties": {
        "amount_sold": {
          "description": "Amount of the asset already sold by this order",
          "type": "string",
          "x-nullable": true
        },
        "buy": {
          "description": "Details of the asset being bought",
          "$ref": "#/definitions/Token"
        },
        "expiration_timestamp": {
          "description": "Expiration timestamp of this order",
          "type": "string",
          "x-nullable": true
        },
        "fees": {
          "description": "Fee information for the order",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderFeeInfo"
          }
        },
        "order_id": {
          "description": "ID of the order",
          "type": "integer"
        },
        "sell": {
          "description": "Details of the asset being sold",
          "$ref": "#/definitions/Token"
        },
        "status": {
          "description": "Status of the order",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp this order was created",
          "type": "string",
          "x-nullable": true
        },
        "updated_timestamp": {
          "description": "Updated timestamp of this order",
          "type": "string",
          "x-nullable": true
        },
        "user": {
          "description": "Ethereum address of the user who submitted the order",
          "type": "string"
        }
      }
    },
    "OrderDetails": {
      "type": "object",
      "properties": {
        "buy_orders": {
          "description": "Buy orders for this asset",
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "sell_orders": {
          "description": "Sell orders for this asset",
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "OrderFeeInfo": {
      "type": "object",
      "properties": {
        "address": {
          "description": "Address of the fee recipient",
          "type": "string"
        },
        "amount": {
          "description": "Fee amount",
          "type": "string"
        },
        "token": {
          "description": "Details of the fee currency",
          "$ref": "#/definitions/FeeToken"
        },
        "type": {
          "description": "Fee type",
          "type": "string"
        }
      }
    },
    "Range": {
      "type": "object",
      "properties": {
        "max": {
          "description": "Maximum value",
          "type": "integer"
        },
        "min": {
          "description": "Minimum value",
          "type": "integer"
        }
      }
    },
    "SuccessResponse": {
      "type": "object",
      "required": [
        "result"
      ],
      "properties": {
        "result": {
          "type": "string"
        }
      }
    },
    "Token": {
      "type": "object",
      "required": [
        "data",
        "type"
      ],
      "properties": {
        "data": {
          "description": "Token details of this asset",
          "$ref": "#/definitions/TokenData"
        },
        "type": {
          "description": "Type of this asset (ETH/ERC20/ERC721)",
          "type": "string"
        }
      }
    },
    "TokenData": {
      "type": "object",
      "required": [
        "quantity",
        "quantity_with_fees"
      ],
      "properties": {
        "decimals": {
          "description": "Number of decimals supported by this asset",
          "type": "integer"
        },
        "id": {
          "description": "[DEPRECATED] Internal Immutable X Token ID",
          "type": "string"
        },
        "properties": {
          "description": "Properties of this asset",
          "$ref": "#/definitions/AssetProperties"
        },
        "quantity": {
          "description": "Quantity of this asset - inclusive of fees for buy order in v1 API and exclusive of fees in v3 API",
          "type": "string"
        },
        "quantity_with_fees": {
          "description": "Quantity of this asset with the sum of all fees applied to the asset",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol of a token",
          "type": "string"
        },
        "token_address": {
          "description": "Address of ERC721/ERC20 contract",
          "type": "string"
        },
        "token_id": {
          "description": "ERC721 Token ID",
          "type": "string"
        }
      }
    },
    "TokenDetails": {
      "type": "object",
      "required": [
        "decimals",
        "image_url",
        "name",
        "quantum",
        "symbol",
        "token_address"
      ],
      "properties": {
        "decimals": {
          "description": "Number of decimals for token",
          "type": "string"
        },
        "image_url": {
          "description": "Url for the icon of the token",
          "type": "string"
        },
        "name": {
          "description": "Full name of the token (e.g. Ether)",
          "type": "string"
        },
        "quantum": {
          "description": "Quantum for token",
          "type": "string"
        },
        "symbol": {
          "description": "Ticker symbol for token (e.g. ETH/USDC/IMX)",
          "type": "string"
        },
        "token_address": {
          "description": "Address of the ERC721 contract",
          "type": "string"
        }
      }
    },
    "Trade": {
      "type": "object",
      "required": [
        "a",
        "b",
        "status",
        "timestamp",
        "transaction_id"
      ],
      "properties": {
        "a": {
          "description": "Side A of this trade (the buy order)",
          "$ref": "#/definitions/TradeSide"
        },
        "b": {
          "description": "Side B of this trade (the sell order)",
          "$ref": "#/definitions/TradeSide"
        },
        "status": {
          "description": "Status of this trade",
          "type": "string"
        },
        "timestamp": {
          "description": "Time this trade occurred",
          "type": "string",
          "x-nullable": true
        },
        "transaction_id": {
          "description": "Sequential ID of this trade within Immutable X",
          "type": "integer"
        }
      }
    },
    "TradeSide": {
      "type": "object",
      "required": [
        "order_id",
        "sold",
        "token_type"
      ],
      "properties": {
        "order_id": {
          "description": "The ID of the order involved in the trade",
          "type": "integer"
        },
        "sold": {
          "description": "The amount of that order's asset this trade sold",
          "type": "string"
        },
        "token_address": {
          "description": "The contract address of the token that this trade sold",
          "type": "string"
        },
        "token_id": {
          "description": "The ID of the token that this trade sold",
          "type": "string"
        },
        "token_type": {
          "description": "The type of the token that this trade sold",
          "type": "string"
        }
      }
    },
    "Transfer": {
      "type": "object",
      "required": [
        "receiver",
        "status",
        "timestamp",
        "token",
        "transaction_id",
        "user"
      ],
      "properties": {
        "receiver": {
          "description": "Ethereum address of the user who received this transfer",
          "type": "string"
        },
        "status": {
          "description": "Status of the transaction",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp of the transfer",
          "type": "string",
          "x-nullable": true
        },
        "token": {
          "description": "Token transferred by the user",
          "$ref": "#/definitions/Token"
        },
        "transaction_id": {
          "description": "Sequential transaction ID",
          "type": "integer"
        },
        "user": {
          "description": "Ethereum address of the user  who submitted this transfer",
          "type": "string"
        }
      }
    },
    "Withdrawal": {
      "type": "object",
      "required": [
        "rollup_status",
        "sender",
        "status",
        "timestamp",
        "token",
        "transaction_id",
        "withdrawn_to_wallet"
      ],
      "properties": {
        "rollup_status": {
          "description": "Status of the on-chain batch confirmation for this withdrawal",
          "type": "string"
        },
        "sender": {
          "description": "Ethereum address of the user who requested this withdrawal",
          "type": "string"
        },
        "status": {
          "description": "Status of this withdrawal",
          "type": "string"
        },
        "timestamp": {
          "description": "Time when this withdrawal was initiated",
          "type": "string"
        },
        "token": {
          "description": "Details of the asset this user is withdrawing",
          "$ref": "#/definitions/Token"
        },
        "transaction_id": {
          "description": "Sequential ID of this transaction",
          "type": "integer"
        },
        "withdrawn_to_wallet": {
          "description": "Withdrawal has been transferred to user's Layer 1 wallet",
          "type": "boolean"
        }
      }
    },
    "aggregate.Limit": {
      "type": "object",
      "properties": {
        "max_amount": {
          "description": "Max transaction amount",
          "type": "number"
        },
        "min_amount": {
          "description": "Min transaction amount",
          "type": "number"
        }
      }
    },
    "lambdas.APIError": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code",
          "type": "string"
        },
        "details": {
          "description": "The error details",
          "type": "string"
        },
        "message": {
          "description": "The error message",
          "type": "string"
        },
        "status_code": {
          "description": "The error status code",
          "type": "integer"
        }
      }
    },
    "nftprimarytransaction.GetResponse": {
      "type": "object",
      "properties": {
        "contract_address": {
          "description": "Contract address of the asset",
          "type": "string"
        },
        "offer_id": {
          "description": "Temporary asset id. Might be a token id if the token id is known or a generic description if it's not",
          "type": "string"
        },
        "provider": {
          "description": "Provider name",
          "type": "string"
        },
        "seller_wallet_address": {
          "description": "Ethereum address of the seller",
          "type": "string"
        },
        "status": {
          "description": "Transaction status enums(created, waitingPayment, pending, completed, failed)",
          "type": "string"
        },
        "token_id": {
          "description": "ID of the token that has been successfully minted - might or not be the same as `offer_id`",
          "type": "string"
        },
        "transaction_id": {
          "description": "Transaction id",
          "type": "string"
        },
        "user_wallet_address": {
          "description": "Wallet address that receives the minted NFT",
          "type": "string"
        }
      }
    },
    "nftprimarytransaction.ListTransactionsResponse": {
      "type": "object",
      "properties": {
        "cursor": {
          "description": "Generated cursor returned by previous query",
          "type": "string"
        },
        "remaining": {
          "description": "Remaining results flag. 1: there are remaining results matching this query, 0: no remaining results",
          "type": "integer"
        },
        "result": {
          "description": "Transactions matching query parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/nftprimarytransaction.TransactionData"
          }
        }
      }
    },
    "nftprimarytransaction.TransactionData": {
      "type": "object",
[...]
